<div id="<%= dom_id article %>">

<div>
  <p class="article_title">
    <strong>Title:</strong>
    <%= article.title %>
  </p>
  <div>

  <div>
  <p class="article_description">
    <strong>Body:</strong>
    <%= article.body %>
  </p>
  <div>

</div>
