<%= form_with(model: @album, url: current_album_path, local: true) do |f| %>

<h1><%= @album.caption %></h1>

<p>This should show pictures</p>

<br>

<%= link_to 'Back to albums', albums_path %>

<% end %>