<h1><%= @album.caption %></h1>

  <div class="picture_table">
    This should show pictures
  </div>

  <div class="show-picture-actions">
    <li style="padding-right: 5px; padding-left: 5px;"><%= link_to 'Edit', edit_album_path(@album) %></li> |
    <li style="padding-right: 5px; padding-left: 5px;"><%= button_to 'Delete', delete_album_path(@album), method: :delete, form_class: 'delete-form', params: { class: 'delete-button' } %></li> |
    <li style="padding-left: 5px;"><%= link_to 'Back to Albums', albums_path %></li>
  </div>