<div id="<%= dom_id post %>">
  <p>
    <strong>Thoughts:</strong>
    <%= post.name %>
  </p>
  <p class="post-details">
    <strong>Created at:</strong>
    <%= post.created_at %>
  </p>
  <p class="post-details">
  <strong>Updated at:</strong>
  <%= post.updated_at %>
</p>
</div>