<div>
  <%= render @post %>
</div>

<ul>
  <li><%= link_to "Edit", edit_post_path(@post) %></li>
  <li><%= button_to "Delete", @post, method: :delete, form_class: 'delete-form', params: { class: 'delete-button' } %></li>
</ul>

<div>
  <p class="centered-notice"><%= notice %></p>
</div>